<META  name="description" content="A notebook X Widget.">
<META  name="keywords" content="X Motif Widget notebook tabs">
<body bgcolor="#FFFFFF">
<H2> 
<p align=center>The TabBook Widget 
</H2> 
</p><a name="ATabBookDoc"></a><p><ident origin="/usr3/cgi/doc/xform/TabBook.doc">
<H3><a name="H1">1. Copyright 
</a></H3>
<br><p>Copyright 1995 Computer Generation, Inc.  You may reproduce this document 
without charge provided the copyright and disclaimer notices appear.  The 
software described in this document is copyrighted under separate terms.  
See the source code available at 
<a href="ftp://ftp.compgen.com/pub/widgets/TabBook.tar.Z">ftp://ftp.compgen.com/pub/widgets/TabBook.tar.Z</a> 
<p>The software is provided &quot;as is&quot;, without warranty of any kind, express 
or implied, including but not limited to the warranties of 
merchantability, fitness for a particular purpose and noninfringement.  
In no event shall Computer Generation, inc.  nor the author be liable for 
any claim, damages or other liability, whether in an action of contract, 
tort or otherwise, arising from, out of or in connection with the 
software or the use or other dealings in the software.  
<p>The author welcomes comments and suggestions.  <br>Gary Aviv <br>Computer Generation, Inc.,<br><a href="mailto:gary@compgen.com">gary@compgen.com</a><br>404-705-2811<br><p><br><H3><a name="H2">2. Introduction 
</a></H3>
<br><p><p align=center><IMG src="TabBook.gif"><p><p>TabBook is a Motif manager widget which is similar to Motif's own 
XmNotebook widget in appearance.  It is significantly less complex 
and easier to use, though it has fewer features.  It is intended 
for installations that lack Motif 2.x or just want basic 
notebook like functionality.  
<p>TabBook sets up a series of &quot;Tabs&quot; along the top of a &quot;page&quot; area.  
Children of TabBook must be either push buttons or manager widgets 
(such as forms, bulletin boards, row-columns, etc.  or a nested TabBook.)  
The push buttons are 
dressed with tab like borders and arranged horizontally.  The child manager 
widgets are positioned in the page area so they overlap.  
There should be an equal number of manager and push button children.  
The page area is sized to fit the largest child manager.The overall 
TabBook widget then expands horizontally, if required, to fit all its 
tabs.  
<p>There is one active page at a time.  Its corresponding tab is drawn to appear 
&quot;on top&quot; and attached to the page.  The user may press any tab to bring 
up its corresponding page and the associated manager widget.  
<p>TabBook inherits behavior and resources from Core, Composite, Constraint, 
XmManager, and XmBulletinBoard.  
<p>The class pointer is xcgTabBookWidgetClass.  
<p>The class name is xcgTabBook.  
<p>TabBook reliance on Motif is minor.  It consists of inheriting behavior from 
XmManager, and XmBulletinBoard, setting resources in XmPushButton, knowing when a 
widget is an xmManagerWidgetClass subclass, 
and using XmGetColors.  It should not be difficult adapting 
TabBook for use with other widget sets.  
<p><br><H3><a name="H3">3. Version Information 
</a></H3>
<br><p>Initial.  
<p><H3><a name="H4">4. Distribution Kit 
</a></H3>
<br><p>The source distribution kit contains the following files: 
<p><DL COMPACT><DT>
<b>TabBook.c TabBook.h TabBookP.h </b> 
<DD>
The TabBook widget source code 
<DT>
<b>TabBookTest.c</b> 
<DD>
A small demonstration program 
<DT>
<b>Imake</b> 
<DD>
an Imake file to build <b>TabBookTest.c</b>.  
<DT>
<b>TabBookTest.make</b> 
<DD>
A hand coded make file for several common OSs in case Imake fails.  
<DT>
<b>TabBook.html TabBook.txt </b> 
<DD>
Documentation in HTML, and plain text formats 
</DL><p>TabBook has been compiled successfully on NCR MPRAS, 
Digital OSF/Unix, Linux, and probably many others.  
<p>To build the test program: 
<p><pre>
	xmkmf
	make
</pre><p><br><H3><a name="H5">5. Resources 
</a></H3>
<br><p>TabBook adds the following resources to those it inherits.  The resource class 
is obtained by replacing the N by a C in the resource name (eg: 
XtNactivePage is the name XtNactivePage is the class.  The access types are 
C (resource may be set at create time), S (may be set using XtSetValues), or 
G (may be read using XtGetValues).  
<p><HR><DL COMPACT><DT>
<b>XcgNactivePage</b> 
<DD>
Type = Integer, Default = 1, Access = CSG<br>Sets the active page.  Page numbering begins with 1.  The tab of active page is redrawn 
to appear on top.  
When the resource <b>autoManage</b> is set, 
the corresponding manager widget for the page is managed and the previous 
active manager widget is unmanaged.  
If the widget is realized, the <b>XcgNnewPageCallback</b> callback is also called.  
See Section <a href="TabBook.html#H10">10</a> for details.  
<HR><DT>
<b>XcgNautoManage</b> 
<DD>
Type = Boolean, Default = True, Access = CSG<br>Controls whether TabBook automatically manages the active page's manager widget when 
the user presses a tab.  See Section <a href="TabBook.html#H10">10</a> for details.  
<HR><DT>
<b>XcgNnewPageCallback</b> 
<DD>
Type = Callback Default = None, Access = CSG<br>The callback invoked when a tab button is pressed.  
See Section <a href="TabBook.html#H7">7</a>.  
</DL><HR><p><H3><a name="H6">6. Constraint Resources 
</a></H3>
<br><p>TabBook has the following constraint resources that govern how manager 
children are positioned within their page.  
<p><HR><DL COMPACT><DT>
<b>XcgNresizeChild</b> 
<DD>
Type = Integer, Default = XcgRESIZE_NONE, Access = CG<br>defines whether a manager child is resized.  
possible values are: 
<DL COMPACT><DT>
XcgRESIZE_NONE 
<DD>
the child is not resized.  
<DT>
XcgRESIZE_VERTICAL 
<DD>
the child is resized to be the height of the page.  Its width is not 
altered.  
<DT>
XcgRESIZE_HORIZONTAL 
<DD>
the child is resized to be the width of the page.  Its height is not 
altered.  
<DT>
XcgRESIZE_BOTH 
<DD>
the child is resized to be the width and height of the page.  This 
is the recommended setting for a TabBook that is a child of another 
TabBook.  
</DL><HR><DT>
<b>XcgNanchorChild</b> 
<DD>
Type = Integer, Default = XcgANCHOR_NORTH, Access = CG<br>Controls the placement of the child manager within the page.  
Possible values are: 
<DL COMPACT><DT>
XcgANCHOR_CENTER 
<DD>
The child is centered, horizontally and vertically.  
<DT>
XcgANCHOR_EAST 
<DD>
The child is right aligned and centered vertically.  
<DT>
XcgANCHOR_NORTH 
<DD>
The child is top aligned and centered horizontally.  
<DT>
XcgANCHOR_NORTHEAST 
<DD>
The child is top right aligned.  
<DT>
XcgANCHOR_NORTHWEST 
<DD>
The child is top left aligned.  
<DT>
XcgANCHOR_SOUTH 
<DD>
The child is bottom aligned and centered horizontally.  
<DT>
XcgANCHOR_SOUTHEAST 
<DD>
The child is bottom right aligned.  
<DT>
XcgANCHOR_SOUTHWEST 
<DD>
The child is bottom left aligned.  
<DT>
XcgANCHOR_WEST 
<DD>
The child is left aligned and centered vertically.  
</DL></DL><HR><p><br><H3><a name="H7">7. Callbacks 
</a></H3>
<br><p>The <b>XcgNnewPageCallback</b> callback is invoked when the user presses a tab button 
for a new page.  If the user clicks the tab button of the current page, no action 
is taken at all.  The callback is also called when the resource <b>XcgNactivePage</b> 
changes or optionally on a call of <b>XcgTabBookSetActivePage</b>.  Finally, 
it is called when the TabBook widget is initially managed.  
In that case, the <b>prev_active_page</b> field is zero.  
<p>The callback passes a pointer to the following structure: 
<p><pre>
typedef struct _XcgTabBookCallbackData
{
	XcgTabBookReasonType reason;	/* reason for callback */
	XEvent *event;			/* button event, NULL if emulated  */
	int prev_active_page;		/* 0 when initially called */
	int active_page;		/* new active page (1,2...) */
	Widget button;			/* the button widget which was
					   pressed (emulated or actual*/
	Boolean ret_veto;		/* caller may set to True to stop page change */
	int future1;
	void * future2;
} XcgTabBookCallbackData;
</pre><p><DL COMPACT><DT>
<b>reason</b> 
<DD>
set to <b>XcgNewPage</b> 
<DT>
<b>event</b> 
<DD>
The XEvent of the button activate, or NULL if the callback was emulated.  
<DT>
<b>prev_active_page</b> 
<DD>
The page number that was previously active, or zero if this is the first time.  
<DT>
<b>active_page</b> 
<DD>
The page number of the newly active page.  
<DT>
<b>button</b> 
<DD>
The push button that was pressed, or NULL if emulated.  
<DT>
<b>ret_veto</b> 
<DD>
initialized to False.  If the callback sets to True, then the button press is ignored.  
No change is made to a new active page.  
<DT>
<b>future</b> 
<DD>
Set to zero 
</DL><p><br><H3><a name="H8">8. Translations 
</a></H3>
<br><p>TabBook has no translations.  
<p><H3><a name="H9">9. TabBook API 
</a></H3>
<br><p>TabBook contains the following functions that control the widget behavior.  
<p><H3><a name="H9.1">9.1 XcgTabBookSetActivePage -- The active page is changed 
</a></H3>
<br><DL COMPACT><DT>
<b>Function</b> 
<DD>
 
The active page is changed to the passed page number.  Page numbers begin 
with 1.  If this results in a new active page, the effect is as if the 
user pressed the corresponding tab button.  It is also equivalent to 
setting the resource, <b>XcgNactivePage</b>.  
However, the NewPage callback that would normally be called under these circumstances 
can be optionally suppressed.  
See Section <a href="TabBook.html#H10">10</a> for details.  
<p><DT>
<b>C-call</b> 
<DD>
Boolean XcgTabBookSetActivePage(Widget w, int page, int option ) 
<p><DT>
<b>Input</b> 
<DD>
 
<DL COMPACT><DT>
<b>w </b> 
<DD>
TabBook widget 
<DT>
<b>page</b> 
<DD>
the page number to activate.  
<DT>
<b>option</b> 
<DD>
bitmapped<br>XcgTabBook_OPT_NO_CB - don't call NewPage callback 
</DL><p><DT>
<b>Output</b> 
<DD>
Nothing 
<p><DT>
<b>Return</b>		 
<DD>
True - page has been changed<br>False - non-existent page number 
</DL><p><H3><a name="H9.2">9.2 XcgTabBookGetActivePage -- The active page is returned 
</a></H3>
<br><DL COMPACT><DT>
<b>Function</b> 
<DD>
get the active page number 
<p><DT>
<b>C-call</b> 
<DD>
int XcgTabBookGetActivePage(Widget w) 
<p><DT>
<b>Input</b> 
<DD>
 
<DL COMPACT><DT>
<b>w </b> 
<DD>
TabBook widget 
</DL><p><DT>
<b>Output</b> 
<DD>
Nothing 
<p><DT>
<b>Return</b>		 
<DD>
The current active page number (1,2,...)<br>A zero means the widget has not been managed at least once.  
</DL><p><H3><a name="H9.3">9.3 XcgTabBookGetActivePageWidget -- get the active page's manager widget child 
</a></H3>
<br><DL COMPACT><DT>
<b>Function</b> 
<DD>
The active page's manager widget child is returned.  
<p><DT>
<b>C-call</b> 
<DD>
Widget XcgTabBookGetActivePageWidget(Widget w) 
<p><DT>
<b>Input</b> 
<DD>
 
<DL COMPACT><DT>
<b>w </b> 
<DD>
TabBook widget 
</DL><p><DT>
<b>Output</b> 
<DD>
Nothing 
<p><DT>
<b>Return</b>		 
<DD>
The manager Widget representing the active page.  
A NULL means the widget has not been managed at least once.  
</DL><p><br><H3><a name="H10">10. Widget Logic 
</a></H3>
<br><p>When the resource <b>autoManage</b> is set, TabBook handles all details of 
page management.  Each child manager widget is forced to be un-managed 
except for the one corresponding to the active page.  When the user 
presses a tab pushbutton, the old manager is un-managed and the new 
active page's manager widget is managed so it appears.  The order of 
insertion of child widgets into TabBook determines the correspondence of 
pushbutton tabs to manager widgets.  You may insert all pushbuttons then 
all manager widgets or you may interleave them.  The first pushbutton 
inserted corresponds to the first manager widget inserted and these 
constitute page 1.  
<p>In order to monitor when the user changes pages, 
You may add a callback to each tab pushbutton or you can use the 
<b>XcgNnewPageCallback</b> callback.  The latter technique allows you 
to veto the change in page if, for example, you detect an error.  
<br><title>TabBook Widget</title>
